@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;

    --clr-orange: #FF9225;
    --clr-black: #303030;
    --clr-blue: #2592FF;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 768px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-orange);
    color: var(--clr-black);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height:1.5;
}

.bg {
    background-color: var(--clr-blue);
    display: inline-block;
    padding: .5em;
    margin-bottom: .5em;
}

section {
    padding: 6em 3em;
    text-align: center;
}

.sectionTitle {
    text-align: center;
    margin:0;
}

.sectionSubtitle {
    text-align: center;
    margin: 0;
}

/* General */

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 200px;
}

.nav {
    position: fixed;
}

ul.collapsed{
    display:none;
    justify-content: space-between;
    color:#222;
    text-decoration: none;
}

ul.is-expanded{
    display:block;
    overflow: hidden;
    max-height: 500px;
    text-decoration: none;
}

/* Header */

/* Introduction */

.introductionSection {
    background-color: var(--clr-black);
}

.intro-img {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

.sectionTitleIntro {
    color: var(--clr-black);
}

.sectionSubtitleIntro {
    color: var(--clr-blue)
}
/* Introduction */
 /* Services */

 .services {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr)
}

.service {
    max-width: 500px;
    margin: 0 1em;
}

@media (max-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}


 /* Services */

 /* About Me */

.aboutMeSection {
    background-color: var(--clr-black);
}

.sectionSubtitleAboutMe {
    color: var(--clr-blue);
}

.aboutContent {
    color:var(--clr-blue);
}

 /* About Me */

 /* Projects */

.portfolio {
    display: grid;
    background-color: var(--clr-black);
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}

.portfolio-item {
    background-color: var(--clr-blue);

}

.portfolio-img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    min-width: 100%;
}

.portfolio-item:focus {
    position: relative;
    z-index: 2;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
    transform: scale(1.2);
    opacity: .5;
}

 /* Projects */

 /* Footer */

.footerSection {
    background-color: var(--clr-black);
}

.sectionTitleFooter {
    color: var(--clr-black);
}

.sectionSubtitleFooter {
    color: var(--clr-blue)
}

.footer-list {
    text-decoration: none;
    text-align: center;
    padding: 0;
}

.footer-list-item  {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 2em;
}

.footerIcon {
    color:var(--clr-blue);
}


 /* Footer */

 @media (max-width: 768px) {
    section {
        display:grid;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "section-title"
            "intro-img"
            "section-subtitle"
            ;
    }

    .intro-img {
        grid-area: intro-img;
    }

    .sectionSubtitle {
        grid-area: section-subtitle;
    }

    .sectionTitle {
        grid-area: section-title;
    }
}