@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;

    --clr-orange: #FF9225;
    --clr-black: #303030;
    --clr-blue: #2592FF;

    --fs-h1: 2rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 768px) {
    :root {
        --fs-h1: 2.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.5rem;
    }
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-orange);
    color: var(--clr-black);
    margin: 0 auto;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height:1.5;
}

.bg {
    background-color: var(--clr-blue);
    display: inline-block;
    padding: .5em;
    margin-bottom: .5em;
}

section {
    padding: 6em 3em;
    text-align: center;
}

.sectionTitle {
    text-align: center;
    margin:0;
}

.sectionSubtitle {
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    section {
        display:grid;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "section-title"
            "intro-img"
            "section-subtitle"
            ;
    }

    .intro-img {
        grid-area: intro-img;
    }

    .sectionSubtitle {
        grid-area: section-subtitle;
        margin: 0 auto;
    }

    .sectionTitle {
        grid-area: section-title;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .projectsSection {
        display:grid;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-template-areas:
            "section-title"
            "section-subtitle"
            "intro-img"
            ;
    }

    .intro-img {
        grid-area: intro-img;
    }

    .sectionSubtitle {
        grid-area: section-subtitle;
        margin: 0 auto;
    }

    .sectionTitle {
        grid-area: section-title;
        margin: 0 auto;
    }
    body::-webkit-scrollbar {
        display: none;
      }
}

/* General */

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-orange);
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    width: 95%;
    top: 0;
    left: 0;
}

.header-list {
    padding-inline-start: 0;
    background-color: var(--clr-blue);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
}

ul.collapsed{
    display: none;
}

.flex-list {
    list-style-type:none;
}

.flex-list a {
    text-decoration: none;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-black);
}

.btn {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    background-color:var(--clr-black);
    border: none;
    color: var(--clr-blue);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    width: 5%;
    padding: .5em;
}

@media (max-width: 768px) {
    .flex-list a {
        font-size: var(--fs-body);
    }
}

/* Header */

/* Introduction */

.introductionSection {
    background-color: var(--clr-black);
}

.intro-img {
    display: block;
    max-width: 45%;
    height: auto;
    margin: 0 auto;
}

.sectionTitleIntro {
    color: var(--clr-black);
    font-size: var(--fs-h1);
}

.sectionSubtitleIntro {
    color: var(--clr-blue);
    font-size: var(--fs-h2);
}

@media (max-width: 768px) {
    .intro-img {
        max-width: 75%;
    }
}
/* Introduction */
 /* Skills */

 .skillsSection {
     background-color: var(--clr-black);
 }

 .skills-list {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    color: var(--clr-blue);
}

.skill {
    max-width: 500px;
    margin: 0 1em;
}

@media (max-width: 768px) {
    .skills-list {
        display: grid;
        grid-template-columns: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}


 /* Skills */

 /* About Me */

.aboutMeSection {
    background-color: var(--clr-orange);
}

.sectionTitleAboutMe {
    font-size: var(--fs-h2);
}

.sectionSubtitleAboutMe {
    color: var(--clr-black);
}

.aboutContent {
    color:var(--clr-black);
    word-break: break-word;
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
   
}

 /* About Me */

 /* Projects */

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media (max-width: 768px) {
    .portfolio {
        grid-template-columns: 100%;
    }
}

.portfolio-item {
    background-color: var(--clr-orange);
    overflow: hidden;
}

.portfolio-img {
    transition:
        opacity 250ms linear;
    max-width: 100%;
}

.portfolio-item:focus {
    position: relative;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
    opacity: .5;
}



 /* Projects */

 /* Footer */

.footerSection {
    background-color: var(--clr-black);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.sectionTitleFooter {
    color: var(--clr-black);
}

.sectionSubtitleFooter {
    color: var(--clr-blue)
}

.footer-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 2em 0 0;
}

.footer-list-item  {
    text-decoration: none;
    list-style: none;
    margin: 0 .5em;
    font-weight: var(--fw-bold);
}

.footer-list-links {
    padding: .5em;
}

.footerIcon {
    color:var(--clr-blue);
}

.footer-email {
    color: var(--clr-blue);
    text-decoration: none;
    font-size: var(--fs-h3);
    margin: 2em 0 0;
}

.footer-list-item:hover,
.footer-email:hover {
    opacity: .7;
}

.footer-email:hover {
    text-decoration: underline  ;
}
 /* Footer */

